.feedDogSection {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#feedDogSectionTitle {
  color: #aa2d29;
  font-weight: 700;
  font-size: 3rem;
}

.feedDogSectionMain {
  display: grid;
  grid-template-areas:
    "infogrid ."
    "infogrid content"
    "infogrid .";
  grid-template-columns: 50% 50%;
}

/* Feed dog section pictures */
.feedDogSectionInfogrid {
  grid-area: infogrid;
  display: grid;
  grid-template-areas:
    ". dog2"
    "dog1 dog2"
    "dog1 dog3"
    ". dog3";
}

#feedDogSectionDog1 {
  grid-area: dog1;
  justify-self: right;
  margin: 1rem;
}

#feedDogSectionDog2 {
  grid-area: dog2;
  align-self: end;
  margin: 1rem;
}

#feedDogSectionDog3 {
  grid-area: dog3;
  align-self: start;
  margin: 1rem;
}

/* Feed dog section content */

.feedDogSectionContent {
  grid-area: content;
}

#feedDogSectionContentTitle {
  font-weight: 700;
  font-size: 2.5rem;
}

.feedDogSectionContent p {
  padding: 1rem 0;
  font-size: 1.5rem;
}

#feedDogSectionContentOptions {
  font-weight: 700;
  font-size: 1.3rem;
}

/* Div carousel */

.dcContainer {
  margin: 0 auto;
  position: relative;
  height: 450px;
  width: 350px;

  border-radius: 29px;
  padding: 1rem;
}

.dcTitle {
  width: 161px;
  height: 144px;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;

  color: #643b0b;
}

.dcSubTitle {
  margin: 1rem 0;
  width: 111px;
  height: 78px;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #643b0b;
}

.dcImage {
  position: absolute;
  right: 0;
  height: 40%;
}

/* Popular Brands */

.pbMain {
  height: 150px;
  background-color: #9dabe2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#pbTitle {
  font-weight: 600;
  font-size: 65px;
  line-height: 114px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

/* Groom Dog */

.gdMain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

#gdlImage {
  height: 600px;
  justify-self: center;
}

.gdrSubMain {
  display: flex;
  padding: 1rem 0;
}

.gdrSubMain img {
  height: 150px;
}

#gdrTitle {
  color: #aa2d29;
  font-weight: 700;
  font-size: 3rem;
}

#gdrSubTitle {
  font-weight: 600;
  font-size: 2rem;
  line-height: 64px;

  color: #000000;
}

.gdrContent {
  margin-left: 1rem;
  font-size: 1.5rem;
}

/* Talk to Us */

#ttuTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 106px;
  color: #000000;
}

#ttuSubTitle {
  font-weight: 500;
  font-size: 2rem;
  line-height: 51px;

  color: #000000;
}

.ttuMain {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#ttut1 {
  margin: 1rem 0;
  font-weight: 700;
  font-size: 2rem;
  line-height: 86px;
  color: #2a1900;
}

#ttut2 {
  margin: 1rem 0;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 50px;
  color: #2a1900;
}

#ttut3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 50px;
  color: #2a1900;
}

#ttut4 {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 34px;

  color: #2a1900;
}

/* Footer */
.fMain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fContent {
  padding: 1rem;
  color: white;
  justify-self: center;
}

.fIconMain {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.fIconMain img {
  margin: 1.5rem;
}

/* mobile responsive */
@media screen and (max-width: 1480px) {
  .feedDogSectionMain {
    display: grid;
    grid-template-areas:
      "infogrid"
      "content";
    grid-template-columns: 100%;
  }

  .feedDogSectionInfogrid {
    display: none;
  }

  .pbMain {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  #feedDogSectionContentTitle {
    text-align: center;

    font-size: 2rem;
  }

  .feedDogSectionContent p {
    text-align: center;
    font-size: 1rem;
  }

  #feedDogSectionContentOptions {
    text-align: center;
    font-size: 1.3rem;
  }
}
